.body_style {
    padding: 25px;
    background-color: black;

}


#Nameofcharity {
    background-color: gold;
    text-align: center;
    font-weight: bolder;
    padding: 3%;
    border: 10px solid #555;
}

.Princes {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 1000px;
    border: 10px solid #555;
}


.blackandyallow {
    
    background-size:cover;
    background-color: gold;
    text-align: center;
    font-weight: bolder;
    padding: 2%;
    border: 5px solid #555;
    margin-right: 15%;
    margin-left: 15%;
    font-size: 28px;
}

.text_info, .card_info{
    color: white;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 20px;
    
}

#ThankingUser {
    font-size: 35px;
}

@media screen and (max-width: 900px) and (min-width: 200px) {
    .body_style {
    font-size: 14px;
  }
  .blackandyallow .sub_title{
    font-size: 200%;
  }

  .BigThanks {
    font-size: 50px;
  }


  .body_style .text_info {
    font-size: 24px;
  }
  .Princes {
    width: 80%;
    height: 90%;
  }
}